/* defoult setup for the page */

html {
    scroll-behavior: smooth;
}

nav, header, footer, {
    display: block;
    font-family: 'Mukta Malar', Helvetica, sans-serif;
    font-family: 'Frank Ruhl Libre', serif;
}

body {
    line-height: 1;
    margin: 0;
    padding: 0;
    margin-top: -16px;
    text-align: center;
    background: #0A1C58;
    /* for super-old browsers */
    /* gradient for old browsers */
    background: -moz-linear-gradient(top, #0A1C58 0%, #3D1A45 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0A1C58 0%, #3D1A45 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0A1C58 0%, #3D1A45 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0A1C58', endColorstr='#3D1A45', GradientType=0);
    /* IE6-9 */
    background-repeat: no-repeat;
    background: linear-gradient(#0A1C58, #3D1A45) no-repeat;
}
section {
    margin: 2% 0;
}
/* ########general text styling######### */

h1 {
    color: white;
    font-family: 'Frank Ruhl Libre', serif;
    /* for responsive font sieze */
    font-size: 7vmin;
    text-align: center;
    line-height: 100%;
    font-weight: bold;
    margin: 4% 0;
}
h3 {
    color: white;
    font-family: 'Frank Ruhl Libre', serif;
    /* for responsive font sieze */
    font-size: 5.5vmin;
    text-align: center;
    line-height: 110%;
    font-weight: bold;
    margin: 4% 0;

}

p {
    color: white;
    font-family: 'Mukta Malar', Helvetica, sans-serif;
    font-size: 20px;
    line-height: 120%;
    margin: 4% 0;
    text-align: left;
}

/* ########overiting Bootstrap styles######### */

*, ::after, ::before {
    box-sizing: content-box;
}

/* navigation menu */

nav {
    margin: 0;
    line-height: 3;
    z-index: 10;
    position: fixed;
    min-width: 100%;
}

nav ul {
    background-color: #0A1C58;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li.topnav-logo {
    float: left;
    display: inline-flex;
}

ul.topnav img.logo {
    padding: 10px 10px 0 12px;
    max-height: 60px;
}

ul.topnav li.topnav-right {
    float: right;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    font-family: 'Mukta Malar', Helvetica, sans-serif;
    color: whitesmoke;
}

ul.topnav li.topnav-right a {
    color: #F79A00
}

ul.topnav li a:hover {
    color: #0A1C58;
    background-color: #F79A00;
}

ul.topnav-logo:hover {
    background-color: #F79A00;
}

/* Landing page/home top */

img.landingImg {
    max-width: 100%;
    min-width: 100%;
    z-index: -1;
}

@media screen and (orientation: portrait) {
    img.landingImg {
        width: 40px;
        height: 400px;
        object-fit: cover;
    }
}

/* HAMBURGER MENU */

ul.topnav li.hamburgerIcon {
    display: none;
}

/* media query to change display cross-platform, leaves the logo */

@media screen and (max-width: 750px) {
    ul.topnav li {
        display: none;
    }
    ul.topnav li.hamburgerIcon {
        display: block;
        float: right;
    }
    ul.topnav.responsive li.hamburgerIcon {
        position: absolute;
        top: 0;
        right: 0;
    }
    ul.topnav.responsive {
        position: relative;
    }
    ul.topnav.responsive li {
        content: "";
        display: inline;
        float: none;
        padding: 0;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
    ul.topnav li.topnav-logo {
        float: left;
        display: inline-flex;
    }
    ul.topnav.responsive li a::after {
        display: none;
    }
    button {
        min-width: 100%;
        text-align: left;
        color: white;
    }
    /* dresses up LOG IN button so behaves as the rest of the menu when on <700px screen width */
    #bottom.containerBox {
        padding: 0 16px 36px 16px;
        margin-bottom: 25px;
    }
    button.buttonLogin , button.signupbtn {
        width: 88%;
        min-width: 88%;
    }
   
    /* adjusting landing page image */
}

@media screen and (orientation: portrait) {
    img.landingImg {
        width: 2444px;
    }
}

/* Home/ landing page */

/* ########login pop-up window made with a customised template FROM https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_login_form_modal###### */

/* Full-width input fields */

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */

button {
    background-color: #0A1C58;
    color: #F79A00;
    padding: 14px;
    border: none;
    cursor: pointer;
    font-family: 'Mukta Malar', Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 16px;
    width: 96%;
}

button:hover {
    color: #0A1C58;
    background-color: #F79A00;
}

.buttonLogin {
    margin: 14px 0;
    padding: 14px;
}

/* Extra styles for the cancel button */

.signupbtn {
    background-color: #F79A00;
    color: white;
}

/* Center the image and position the close button */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.headLogo {
    width: 12%;
}

.containerText, .containerBox {
    padding: 16px;
    margin: 0 2%;
}


#bottom.containerBox {
    padding-top: 0;
    padding-bottom: 4%;
}

span.psw {
    padding-top: 16px;
    font-size: 14px;
    float: right;
}

/* The Modal (background) */

.modal1 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    font-family: 'Mukta Malar', Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: left;
    padding-top: 60px;
    z-index: 22;
}

/* Modal Content/Box */

.modal1-content1 {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    max-width: 750px;
    z-index: 22;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #F79A00;
    cursor: pointer;
}

/* keyframes for the Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .signupbtn {
        width: 100%;
        margin-left: 5%;
    }
}


/* #######About section######## */

section.pageSection {
    max-width: 100%;
    margin: 0 8% 0 8%;
}

/* percentage circle with css keyframes based on https://codepen.io/sergiopedercini/pen/jmKdbj */

.flexContainer {
    display: flex;
    align-content: space-around;
    align-items: baseline;
    flex-direction: row;
}
.singleChart {
    width: 33%;
    margin-bottom: 1%;
    padding: 0 2% 2%;

}
@media screen and (max-width: 750px) {
    .flexContainer {
        flex-direction: column;
        align-items: center;
    }
    .singleChart {
        width: 86%;
    }
    #containerBox.singleChart {
        min-width: 86%;
    }
    #contact.pageSection {
        flex-direction: column;
        align-items: center;
    }
}

.circularChart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.circleBg {
    opacity: 0.15;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: square;
    animation: progress 12s ease-out infinite;
}

@keyframes progress {
    40% {
        stroke-dasharray: 0 100;
    }
}

.circularChart.orange .circle {
    stroke: #ff9f00;
}

.circularChart.green .circle {
    stroke: #4CC790;
}

.circularChart.blue .circle {
    stroke: #3c9ee5;
}

.percentage {
    fill: white;
    font-family: 'Mukta Malar', Helvetica, sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}


/* #######CAROUSEL STYLING####### */

.maincarousel {
    margin-top: -70%;
}

#carouselExampleIndicators.carousel {
    z-index: 2;
}

.carousel-indicators li {
    background-color: #0A1C58;
}
.d-block {
    max-width: 75%;
    margin-left: 10%;
}

h2 {
    color: #F79A00;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 5vw;
    text-align: center;
    margin: 0;

}
.d-block {
    max-width: 75%;
    margin-block-end: -1%;
    margin-block-start: -1%;
    margin-left: 12%;
}

.d-md-block {
    max-width: 75%;
}

@media screen and (max-width: 750px) {
    .d-block {
        margin-block-end: 3%;
    }
}

/* ##########carousel position######### */

#carouselExampleIndicators.carousel .slide {
    position: absolute;
    margin-top: -30%
}

.carousel  {
    position: initial;
}

.carousel-caption {
    bottom: 25px;
    padding: 6% 2%;
}

/* #############OUR COURSES section############# */

.accordion {
    margin-bottom: 4%;
}

.card {
    background-color: transparent;
    border-color: transparent;
}

.collapse {
    border: 2px;
    border-color: white;
}

button.btn {
    border-radius: 0;
}
h1 img.icon {
    display: inline;
    max-width: 60px;
    padding: 0 15px;
}

.btn-link:hover {
    text-decoration: none;
}


/* ##########CONTACT US SECTION########### */
/* media Query for this container are with singleChart at the top */
#contact.pageSection {
    display: flex;
    margin-bottom: 3%;
}

#containerBox.singleChart {
    width: 50%;
    padding: 2%;
}

h3.singleChart {
    margin: 0;
    margin-top: 2%;
    text-align: left;
}

/* ##########FOOTER STYLING######### */

footer {
    color: white;
    font-family: 'Mukta Malar', Helvetica, sans-serif;
    font-size: 3.2vmin;
    text-transform: capitalize;
    line-height: 120%;
    text-align: left;
}

.footnav {
    margin: 0;
    padding: 0;
}

ul.footnav li {
    list-style: none;
    background-color: #0D0D0D;
}

ul.footnav li a {
    color: white;
    font-family: 'Mukta Malar', Helvetica, sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 120%;
}
